/* === FOOTER === */
.footer {
  width: 100%;
  background-color: #3bb035;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; 
}

.footer a {
  color: #00bcd4;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}