.navbar {
  width: 100%;
  background-color: #2e5134;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.logo {
  color: #f5f1e6;
  font-size: 26px;
  font-weight: 700;
}

/* Desktop */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: #f5f1e6;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #c9b79c;
}


.hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 4px;
  background: #f5f1e6;
  border-radius: 2px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background: #2e5134;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-links.active {
    max-height: 260px;
  }

  .hamburger {
    display: flex;
  }
}
